fastapi
uvicorn
python-dotenv

langchain
langchain-core
langchain-groq
langgraph
langchain-community
langchain-text-splitters

pypdf
python-docx
faiss-cpu
sentence-transformers

python-multipart
psutil
ddgs
wikipedia
